<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">


    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
<div class="page">
    <div class="preloader center">
        <div class="brand">
            <h1 class="brand_name">
                <a href="./">DreamCapture</a>
            </h1>
            <img src="images/preloader.gif" alt=""/>

        </div>
    </div>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div class="container">
            <div class="row">
                <div class="grid_6 preffix_3">
                    <div class="brand">
                        <h1 class="brand_name">
                            <a href="./">DreamCapture</a>
                        </h1>
                        <p class="brand_slogan">
                            The best start up for
                            your app
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="grid_6 preffix_5">
                    <div class="btn-wrap">
                        <a class="btn material-design-cell12" href='#'><span>Available on the</span> App Store</a>
                        <a class="btn material-design-android11" href='#'><span>Get it on</span> Google play</a>
                    </div>
                    <div class="bg-image1 wow fadeInLeft" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well bg-secondary2">
            <div class="container center">
                <div class="row">
                    <div class="grid_10 preffix_1">
                        <h2>Amazing Features</h2>

                        <h3 class="primary">
                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </h3>
                    </div>
                </div>

            </div>
        </section>
        <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="grid_4">
                        <div class="material-design-copy31 primary"></div>
                        <h3>Lorem ipsum dolor sit</h3>

                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                    </div>
                    <div class="grid_4">
                        <div class="material-design-chat75 primary"></div>
                        <h3>Lorem ipsum dolor sit</h3>

                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                    </div>
                    <div class="grid_4">
                        <div class="material-design-clock100 primary"></div>
                        <h3>Lorem ipsum dolor sit</h3>

                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="grid_6 well3 bg-image2-wrap">
                        <div class="bg-image2 wow fadeInRight" data-wow-delay="0.5s"></div>
                        <div class="bg-image2_cnt">
                            <h2>Explain why it's best</h2>

                            <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore.</h3>

                            <div class="box">
                                <div class="box_aside">
                                    <div class="material-design-tick7 primary"></div>
                                </div>
                                <div class="box_cnt box_cnt__no-flow">
                                    <h3 class="primary">Lorem ipsum dolor sit</h3>

                                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                       incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                       exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                       dolor.</p>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box_aside">
                                    <div class="material-design-mountains14 primary"></div>
                                </div>
                                <div class="box_cnt box_cnt__no-flow">
                                    <h3 class="primary">Lorem ipsum dolor sit</h3>

                                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                       incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                       exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                       dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="well2 well2__ins1">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="video mg-add">
                            <iframe src="//player.vimeo.com/video/37582125?wmode=transparent"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="ins1">
                            <h2>Description with video</h2>

                            <h3 class="primary">Lorem ipsum dolor sit</h3>

                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                               incididunt ut
                               labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                               laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. Lorem ipsum dolor
                               sit
                               amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                               aliquip.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="well2 well2__ins2 bg-primary">
            <div class="container">
                <div class="owl-carousel">
                    <div class="item">
                        <blockquote>
                            <p><q> Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                   exercitation ullamco.</q></p>

                            <div class="box">
                                <div class="box_aside"><img src="images/page-1_img03.jpg" alt=" "/></div>
                                <div class="box_cnt">
                                    <h3><cite>Lorem ipsum dolor sit</cite></h3>

                                    <p class="primary">
                                        <small>Cnse ctetur adipisicing elit, sed do eiusm</small>
                                    </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <p><q> Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                   dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                   laboris nisi ut aliquip.</q></p>

                            <div class="box">
                                <div class="box_aside"><img src="images/page-1_img04.jpg" alt=" "/></div>
                                <div class="box_cnt">
                                    <h3><cite>Lorem ipsum dolor sit</cite></h3>

                                    <p class="primary">
                                        <small>Cnse ctetur adipisicing elit, sed do eiusm</small>
                                    </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <p><q> Ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                   aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                   aliquip.</q></p>

                            <div class="box">
                                <div class="box_aside"><img src="images/page-1_img05.jpg" alt=" "/></div>
                                <div class="box_cnt">
                                    <h3><cite>Lorem ipsum dolor sit</cite></h3>

                                    <p class="primary">
                                        <small>Cnse ctetur adipisicing elit, sed do eiusm</small>
                                    </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <section class="well3 well3__ins1 bg-secondary2">
            <div class="container center">
                <h2>Screenshots</h2>
            </div>
            <div class="owl-carousel2">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img06_original.jpg">
                                    <img src="images/page-1_img06.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img07_original.jpg">
                                    <img src="images/page-1_img07.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img08_original.jpg">
                                    <img src="images/page-1_img08.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img09_original.jpg">
                                    <img src="images/page-1_img09.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img09_original.jpg">
                                    <img src="images/page-1_img09.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img07_original.jpg">
                                    <img src="images/page-1_img07.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img06_original.jpg">
                                    <img src="images/page-1_img06.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                            <div class="grid_3">
                                <a class="thumb" href="images/page-1_img08_original.jpg">
                                    <img src="images/page-1_img08.jpg" alt=""/>
                                    <span class="thumb_overlay"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="parallax" data-url="images/parallax1.jpg" data-speed="1" data-mobile="true">
            <div class="container center">
                <h2>Subscribe</h2>

                <p class="ins1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                   et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                   aliquip ex ea commodo consequat. Duis aute irure dolor. Lorem ipsum dolor sit amet conse ctetur
                   adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                <form id="subscribe-form" class="subscribe-form">
                    <label class="email">
                        <input type="email" value="Enter your email...">
                        <span class="error">*Invalid email.</span>
                        <span class="success">Subscription request sent!</span>
                    </label>
                    <a class="btn btn__lg" data-type="submit" href="#">Subscribe</a>
                </form>
            </div>
        </section>
        
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container center">
            <h2>The best start up for your app</h2>

            <h3 class="primary">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt <br/>
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.</h3>

            <div class="row">
                <div class="grid_12 btn-wrap">
                    <a class="btn material-design-cell12" href='#'><span>Available on the</span> App Store</a>
                    <a class="btn material-design-android11" href='#'><span>Get it on</span> Google play</a>
                </div>
            </div>

            <p>
                Your App© <span id="copyright-year"></span>. All rights reserved
                <!-- {%FOOTER_LINK} -->
            </p>
        </div>
    </footer>
</div>

<!-- coded by Diversant -->
</body>
</html>
