/*========================================================
                      Contact Form
=========================================================*/
/* Contact Form Basic Styles
========================================================*/
#contact-form {
  position: relative;
}

#contact-form label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  letter-spacing: normal;
  margin: 0 0 8px;
  width: 100%;
}

#contact-form label.message {
  max-width: 100%;
  width: 100%;
  margin: 0 0 25px;
}

#contact-form fieldset {
  border: none;
}

/* Contact Form Placeholder Styles
========================================================*/
#contact-form ._placeholder {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 16px "Open Sans", sans-serif;
  line-height: 24px;
  padding: 8.5px 20px 8.5px;
  color: #999999;
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 0;
  cursor: text;
}

#contact-form ._placeholder.focused {
  opacity: 0.4;
}
.lt-ie9 #contact-form ._placeholder.focused {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.4)";
  filter: alpha(opacity=40);
}

#contact-form ._placeholder.hidden,
#contact-form .file ._placeholder {
  display: none;
}

/* Contact Form Input
========================================================*/
#contact-form input[type='text'] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 16px "Open Sans", sans-serif;
  line-height: 24px;
  padding: 8.5px 20px 8.5px;
  color: #999999;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  height: 41px;
  margin: 0;
}

/* Contact Form Buttons
========================================================*/
/* Contact Form Textarea 
========================================================*/
#contact-form textarea {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 16px "Open Sans", sans-serif;
  line-height: 24px;
  padding: 8.5px 20px 8.5px;
  color: #999999;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  height: 322px;
  overflow: auto;
}

/* Contact Form Error messages
========================================================*/
#contact-form .empty-message,
#contact-form .error-message {
  -moz-transition: 0.3s ease-in height;
  -o-transition: 0.3s ease-in height;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  position: absolute;
  right: 3px;
  top: 2px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  z-index: 99;
}

#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 14px;
  line-height: 14px;
}

/* Contact Form Processing Box
========================================================*/
#contact-form .contact-form-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  background: rgba(247, 247, 247, 0.48) url(data:image/gif;base64,R0lGODlhIAAKAIAAAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCQAAACwAAAAAIAAKAAACD4yPqcvtD6OctNqLs94cFwAh+QQJCQAFACwAAAAAIAAKAILs7uz8+vz09vT08vT8/vz///8AAAAAAAADMVgx3FIwykmhADjjVzsdmjZ4ZASG2FiSJ6quXRu+8IemdXwDdB5dt54PsgA1BoThJAEAIfkECQkACAAsAAAAACAACgCDtLK03Nrc1NLUvL68/Pr81NbUxMLE/P78////AAAAAAAAAAAAAAAAAAAAAAAAAAAABDjwBGMGNeWgzbv/SACM5CiAKGiU5ZC+3MqOLvwOM22/8lzvqhzgB/TgcsQipyA0KD8HAe5o0Tw7EQAh+QQJCQAMACwAAAAAIAAKAIN0dnS8vrysrqyMioy0trSUkpT8+vy0srSMjoy8uryUlpT8/vz///8AAAAAAAAAAAAEPnAFVWpRZLHNu/9MAIzkeIAoqJQlkr5cwZIDDK8zUNupPA4/HS+Fm+2GnyLriOwkaKVT07M4FAbYQeFgmHoiACH5BAkJAAsALAAAAAAgAAoAg7SytNza3Ozu7NTS1Pz6/Ly+vPT29PTy9NTW1Pz+/MTCxP///wAAAAAAAAAAAAAAAARUMAWlClUorUWO/8YmjmIAnOg5LIbgvm5IkkqaFssBw8dM2yjcjucbFYAnnG4o6BU3NaSQ2XxCkQDhcud8HqULatWKwCoWCWq3mBgcvxYNy9P8yJ8RACH5BAkJAAsALAAAAAAgAAoAg7SytNza3Ozu7NTS1Pz6/Ly+vPT29PTy9NTW1Pz+/MTCxP///wAAAAAAAAAAAAAAAARUcJFDq1krBaUKV0iCjSRmCGiKXgHgvu5QzoeqHosCw8Vc1jYUTrdz9XwjYBBXKBqRyaAw5wQcoUobs3pFZm9UZ9d3kuIQVQV0NKlVDiLCoGmNXdYRACH5BAkJAAwALAAAAAAgAAoAg3R2dLy+vKyurIyKjLS2tJSSlPz6/LSytIyOjLy6vJSWlPz+/P///wAAAAAAAAAAAAQ+kMlJ2Qqq6KLIqmBIBUBploeoVsp5ImvMFK45yGtbAzcu0qVBkOcT6Wq9ImtHVFYStlPKSVkcCoPsoHAwxCIAIfkECQkACwAsAAAAACAACgCDtLK03Nrc7O7s1NLU/Pr8vL689Pb09PL01NbU/P78xMLE////AAAAAAAAAAAAAAAABFZwyUlXCkqVrFCSxCGORmUuAaCu6rAYQizHxEkpLFssxzwftgkup9r5fkFJgVjkHWPA5JBofAqiwWnO2DtibUtm1ZpcIJgAhcX6PSUGy/Dm8xJdr4dEBAAh+QQJCQALACwAAAAAIAAKAIO0srTc2tzs7uzU0tT8+vy8vrz09vT08vTU1tT8/vzEwsT///8AAAAAAAAAAAAAAAAEVXDJSSU5OBuZglLFpyBJZRpCqqZbALzwO5jVsa7HosRxQVO2Wyq34718P0lQmCsYj0mlcKh7ApDJ5a1pBUQXWlz1if2hpjmEVfFdXGyZQ4kwcF5liQgAIfkECQkADAAsAAAAACAACgCDdHZ0vL68rK6sjIqMtLa0lJKU/Pr8tLK0jI6MvLq8lJaU/P78////AAAAAAAAAAAABD6QyUmrZSuowosiyyVeAWCe5jGuk4KiBcsW7znIq1sDNy7SpkGQ5xPpar1i5fhKKicJG0rwrCwOhYF2UDgYIgAh+QQJCQAIACwAAAAAIAAKAIO0srTc2tzU0tS8vrz8+vzU1tTEwsT8/vz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAEOBDJSatFJxgztinHJV4BYJ6mMK6TgaIDy7qvGcvjUNv4SNe3nuVXE150u6BxUtgBDMvKQaBDdg4RACH5BAkJAAUALAAAAAAgAAoAguzu7Pz6/PT29PTy9Pz+/P///wAAAAAAAAMvWLrcrmHIKZ61Auitw/3LwHEDCIqjVpoXmq7s445w3MykLaeb7mS8mg8iAYgkhAQAOw==);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.lt-ie9 #contact-form .contact-form-loader {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#contact-form.processing .contact-form-loader {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.7;
  z-index: 99;
}
.lt-ie9 #contact-form.processing .contact-form-loader {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";
  filter: alpha(opacity=70);
}

/* Contact Form Modal
========================================================*/
.modal-open {
  overflow: hidden;
}

#contact-form .modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  letter-spacing: normal;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #222;
}

#contact-form .modal h4 {
  font-weight: bold;
  color: #000;
  padding: 0;
  margin: 0;
}

.modal.fade .modal-dialog {
  -moz-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

.modal-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}
.lt-ie9 .modal-backdrop.fade {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
}
.lt-ie9 .modal-backdrop.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-dialog {
  width: 600px;
  margin: 66px auto 10px;
}

@media only screen and (max-width: 768px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* Contact Form Close icon
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* Contact Form reCaptcha
========================================================*/
#contact-form label.recaptcha {
  max-width: 100%;
  text-align: right;
}

#captchadiv {
  display: inline-block;
  text-align: left;
  background: #FFF;
}
.empty-message + #captchadiv {
  border: 1px solid #DCDCDC;
  padding-top: 16px;
}

#recaptcha_table {
  border: none !important;
}
#recaptcha_table input[type="text"] {
  background: #FFF;
  border: 1px solid #CDCDCD !important;
  color: #999;
}

@media (max-width: 767px) {
  #captchadiv {
    display: block;
  }

  #recaptcha_table {
    width: 100%;
  }
  #recaptcha_table tr:first-child td + td {
    padding-right: 14px !important;
  }
  #recaptcha_table tr:first-child td + td + td {
    display: none;
  }

  #recaptcha_image {
    width: 358px !important;
  }

  #recaptcha_response_field {
    width: 360px !important;
  }
}
@media (max-width: 479px) {
  #recaptcha_image {
    width: 208px !important;
  }

  #recaptcha_response_field {
    width: 210px !important;
  }
}
